# IntelliJ/Android Studio
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle-related
.gradle/
local.properties
.externalNativeBuild
.cxx

# macOS-specific
.DS_Store

# Build outputs
/build/
captures/

# Google API Keys
google-services.json
app/src/main/res/values/strings.xml
